

<header class="site-header">

      <ul class "header-nav">
        <li class="header-nav-item">
          <a class="header-nav-link" href="/explore" data-ga-click="Header, go to explore, text:explore">Explore</a>
        </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="https://gist.github.com" data-ga-click="Header, go to gist, text:gist">Gist</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="/blog" data-ga-click="Header, go to blog, text:blog">Blog</a>
          </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="https://help.github.com" data-ga-click="Header, go to help, text:help">Help</a>
        </li>
      </ul>
      
      
      
      
        
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

	<div>
		{{site.description}}
	</div>
	<br>
    <nav class="site-nav">
      <div>
		<a class="page-link" href="{{site.baseurl }}/Documentation/index.html">Documentation</a>
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>
	<br>
    {% include download.html %}
</header>
